# Git ignore for Frontend (Root Repo)
node_modules/
dist/
dist-ssr/
*.local
.env
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Backend Folder (Separate Repo)
backend/

# Root files
package-lock.json
package.json
node_modules/
